/* src/styles/Notice.css */

.notice-container {
    padding: 20px;
}

.notice-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.notice-table th, .notice-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.notice-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.notice-item {
    cursor: pointer;
}

.notice-item:hover {
    background-color: #f1f1f1;
}

.divider {
    height: 2px;
    background-color: black;
    margin: 20px 0;
}

/* 필터 및 검색 스타일 추가 */
.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-container input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
    margin-right: 5px; /* 버튼과의 간격 */
}

.filter-container button {
    padding: 8px 12px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.filter-container button:hover {
    background-color: #0056b3; /* 버튼 호버 색상 */
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 페이지네이션 관련 스타일 추가 필요 */
